/* Our Edge start */
.tab-content {
    background: linear-gradient(45deg, #17303b, #17303bd8);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.nav-tabs {
    border-bottom: 1px solid #145bb78d;
}

.nav-tabs .nav-link.active {
    border-color: #145bb78d #145bb78d white;
    color: #495057;
    background-color: #fff;
}


/* new  */

.boxNew {
    background: url('https://media.istockphoto.com/id/1215197086/photo/happy-people-shopping-in-the-mall.jpg?s=612x612&w=0&k=20&c=5JZkg2D6rkEv1FQFQLzKU8emTQ4Vng7K7ri61BgUjyc=') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.content {
    position: relative;
    text-align: center;
    color: white;
    max-width: 600px;
    z-index: 2;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease-in-out;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    opacity: 0.9;
}

.btnToday {
    display: inline-block;
    padding: 12px 25px;
    background: #ff7b00;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s;
}

.btnToday:hover {
    background: #ff5500;
}

.image-overlay {
    position: absolute;
    width: 60%;
    height: 60%;
    background: url('/img/new-img.png') no-repeat center center/contain;
    z-index: 1;
    top: 10%;
    right: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}